<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hardware Store</title>
    <link rel="stylesheet" th:href="@{/templates/css/style.css}" href="/css/computerAccessories.css"/>
</head>
<body>

<p><strong>HARDWARE STORE</strong></p>
</p>

<menu>
    <ul>
        <li><a th:href="@{/accessories}" href="/accessories.html">Hardware catalogue</a></li>
    </ul>
</menu>
</p>
<div class="row">
    <a th:href="@{/logout}"><img title="Escape" th:src="@{/images/blue_icons_24x24/escape.png}"/></a>
</div>

</body>
</html>